@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}
